$color-french-craft: #051B3B

$color-accent: #370221
$color-text: #000000
$color-text-alt: #454545
$color-background: #FFFFFF
$color-background-alt: #dbdae0
$color-border: rgba(0, 0, 0, 0.30)
$color-selection: $color-background
$color-selection-background: rgba($color-text, .7)

$heading-font-family: "HKGrotesk", sans-serif
$body-font-family: $heading-font-family
$quote-size: pxToRem(24)
$quote-size-desktop: pxToRem(28)

$header-background: none
$header-border-bottom-width: 0
$header-color: $color-text
$header-logo-height: 60px
$header-logo-height-desktop: 120px
$header-sticky-background: $color-background-alt
$hero-color: $color-text
$hero-background-color: $color-background-alt
$footer-background-color: $color-text
$footer-color: white
$footer-logo-height: 60px
$footer-logo-height-desktop: 100px
$breadcrumb-color: $color-text
$breadcrumb-color-active: $color-text-alt

$block-pages-card-background: $color-accent