header#document-header
  position: absolute
  @include media-breakpoint-up(desktop)
    nav.primary-menu 
      > .container
        flex-direction: column
        gap: $spacing-4
.hero
    background-image: url(/assets/images/background-small.png)
    background-size: 300px
    background-repeat: no-repeat
    background-position: -50px 0px
    @include media-breakpoint-up(desktop)
        background-size: 600px
        background-position: 54% -100px
.organizations
    .organization
        .media
            img
                mix-blend-mode: multiply
    &.grid.with-summaries
        .organization
            .organization-content
                .organization-title
                    line-height: 100%
                    margin-bottom: $spacing-2
            .media
                background: none
                padding: 0
                figure, picture
                    display: inline
.blocks
    .block-organizations
        &--large
            .organization
                @include media-breakpoint-up(desktop)
                    padding-bottom: $grid-gutter
                .media
                    @include media-breakpoint-up(desktop)
                        background: none
                        padding: 0
                        width: columns(3)
footer#document-footer
    .footer-site
        display: none
    @include media-breakpoint-up(desktop)
        .container
            justify-content: center
        .footer-legals
            .footer-credit,
            .nav-legal li,
            .nav-legal 
                display: inline-block
            .nav-legal li
                margin-right: $spacing-3