header#document-header
    .search-button
        color: inherit !important
    @include media-breakpoint-up(desktop)
        .primary-menu
            > .container
                justify-content: start
                #navigation
                    margin-left: $spacing-5
    @include media-breakpoint-down(desktop)
        .logo
            img
                filter: invert(1)

.hero:not(.hero--with-image)
    background-image: url(/assets/images/background.jpg)
    background-size: 200px
    background-repeat: no-repeat
    background-position: -40px -40px
    @include media-breakpoint-up(desktop)
        background-size: 520px
        background-position: 100% 0

.hero
    .content
        h1
            > span
                color: $color-text-alt
.event .event-categories,
.taxonomies-single
        a
            color: white !important
            background: $color-accent
            padding: space() space(2)
            border-radius: 3px

@include media-breakpoint-down(desktop)
    .hero + .breadcrumb-container
        margin-top: 0

.block-features
    li
        .name
            color: $color-accent
blockquote
    color: $color-accent

footer#document-footer
    .footer-i18n
        display: none !important
    @include media-breakpoint-up(desktop)
        .container
            + .container
                justify-content: space-between